/* medium screens */
/* large screens */
@media (min-width: 912px) {
  body {
    font-size: 22px;
  }
  body h2 {
    font-size: 26px;
  }
  body p {
    font-size: 20px;
  }
  .container {
    width: 1150px;
    margin: 0 auto;
  }
  .kaigyou {
    display: none;
  }
  .kagikakko {
    width: 800px;
    margin: 40px 0;
    padding: 35px 0px;
    font-size: 28px;
    letter-spacing: 1;
    position: relative;
    display: inline-block;
  }
  .kagikakko::before, .kagikakko::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .kagikakko::before {
    border-left: solid 4px #ff6889;
    border-top: solid 4px #ff6889;
    top: 0;
    left: 0;
  }
  .kagikakko::after {
    border-right: solid 4px #ff6889;
    border-bottom: solid 4px #ff6889;
    bottom: 0;
    right: 0;
  }
  header {
    overflow: hidden;
    padding: 10px 0;
  }
  header .container {
    width: 1150px;
  }
  header .container img {
    position: relative;
    float: left;
    width: 150px;
    top: 0px;
    left: 0px;
  }
  header .container p {
    position: relative;
    float: left;
    line-height: 60px;
  }
  header .container #contactbtn {
    display: none;
  }
  header .container #inforbtn {
    float: right;
    background: red;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding: 15px 45px;
    border-radius: 30px;
    cursor: pointer;
  }
  .top-wrapper {
    padding-top: 140px;
  }
  .top-wrapper h2 {
    font-size: 26px;
  }
  .top-wrapper img {
    width: 310px;
  }
  .top-wrapper p {
    font-size: 20px;
    padding: 20px 0 60px;
  }
  .info-wrapper .container {
    width: 900px;
  }
  .info-wrapper .container p {
    font-size: 22px;
    line-height: 1.5;
  }
  .info-wrapper .container .siroaka {
    font-size: 18px;
  }
  .info-wrapper .container #infobtn-bg {
    padding: 30px 0;
    font-size: 30px;
    margin: 60px 0;
  }
  .enginia-wrapper span {
    background: linear-gradient(transparent 70%, #ffa600 0%);
  }
  .about-wrapper {
    padding: 100px 0 50px;
  }
  .about-wrapper .about {
    width: 100px;
    height: 100px;
    line-height: 100px;
    top: -50px;
  }
  .about-wrapper h2 {
    box-sizing: border-box;
    margin: 10px 0;
  }
  .about-wrapper .five-skills .skills {
    display: flex;
    justify-content: center;
  }
  .about-wrapper .five-skills .skills .skill {
    padding-bottom: 50px;
  }
  .about-wrapper .five-skills .skills .skill:not(:last-child) {
    padding-right: 30px;
  }
  .about-wrapper .five-skills .skills .skill img {
    width: 75px;
    height: 75px;
  }
  .step-wrapper .steps {
    display: flex;
    justify-content: center;
  }
  .step-wrapper .steps .step {
    width: 400px;
    padding: 30px 40px;
  }
  .step-wrapper .steps .step:not(:last-child) {
    margin-right: 20px;
  }
  .step-wrapper .steps .step .step-moji {
    font-weight: bold;
    border-radius: 5px;
  }
  .skillup-wrapper {
    padding: 40px;
  }
  .skillup-wrapper .container p {
    font-size: 24px;
  }
  .manaberu-wrapper .kasegus img:not(:last-child) {
    margin-right: 40px;
  }
  .merit-wrapper .three-merits {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .merit-wrapper .three-merits .merit {
    width: 350px;
    padding: 0 10px;
  }
  .merit-wrapper .three-merits .merit img {
    height: 200px;
  }
  .orengewaku {
    padding: 30px 0;
  }
  .orengewaku h3 {
    font-size: 26px;
  }
  .orengewaku h4 {
    font-size: 20px;
  }
  .orengewaku p {
    font-size: 16px;
  }
  .okotowari p {
    padding: 20px 0;
    font-size: 14px;
  }
}
