/* medium screens */
@media (min-width: 570px) {
  .feature img {
    width: 50%;
  }
  .feature p {
    width: 45%;
  }
  .feature:nth-of-type(odd) p {
    float: right;
    padding-left: 5%;
  }
  .feature:nth-of-type(even) p {
    float: left;
    padding-right: 5%;
  }
  .feature {
    overflow: hidden;
  }
  .news .flex {
    display: flex;
    justify-content: space-between;
  }
  .news-item {
    width: 30%;
  }
}

/* large screens */
@media (min-width: 912px) {
  .container {
    width: 820px;
  }
  #open_menu {
    display: none;
  }
  #close_menu {
    display: none;
  }
  #menu {
    display: block;
    position: static;
    background: transparent;
    color: #333;
  }
  #menu ul {
    padding: 0;
    float: right;
  }
  #menu li {
    display: inline-block;
    width: 60px;
    text-align: center;
  }
}
